/*MODAL BACKGROUND*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    overflow: auto;
    background-color: black;
}

/*MODAL CONTENT*/
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 92%;
    max-width: 1200px;
}

/*CLOSE BUTTON*/
.close{
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    padding: 30px;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/*HIDE SLIDES BY DEFAULT*/
.slides {
    display: none;
}

.modalimg {
    width: 20%;
    height: auto;
    margin: 20px 40% 40px 40%;
}

.demo {
    width: 9%;
    float: left;
    cursor: pointer;
}

.thumb {
    margin: 10px 40% 30px 40%;
}

/*NEXT/PREVIOUS CONTROLS*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/*POSITION NEXT CONTROL TO RIGHT*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0,0,0,0.8);
}

/*NUMBER TEXT*/
.numtext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*CAPTION TEXT*/
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}